---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="NICEGUYS">
  <main>
    <section class="w-full">
      <div
        class="h-screen bg-black text-white grid grid-rows-[1fr_3fr_1fr] gap-4 p-4"
      >
        <div class="row">
          <div class="text-6xl">NICE</div>
        </div>
        <div class="row"></div>
        <div class="row"><div class="text-6xl">GUYS</div></div>
        <Navbar />
      </div>
    </section>
  </main>
</Layout>
